@use "../abstracts/mixins" as mixins;

.about-page {
  padding: 30px 80px 80px;

  &__block {
    &--skills {
      margin-top: 60px;
      gap: 30px;
      display: flex;
      flex-direction: column;
    }

    &--formations {
      margin-top: 60px;
      display: flex;
      flex-direction: column;
      gap: 30px;
    }
  }

  .section-head__title {
    @include mixins.text-style-default;
  }
  @media (max-width: 809px) {
    padding: 30px 20px 20px;
  }
}
