@use "../abstracts/mixins" as mixins;

.contact-page {
  padding: 30px 80px 80px;

  &__header {
    margin-bottom: 60px;
    max-width: 1200px;
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    gap: 40px;
  }

  &__phone {
    @include mixins.text-style-default;
    font-size: 30px;
  }

  &__info {
    font-size: 1.2rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__form {
    max-width: 720px;
    margin-left: auto;
    width: 100%;
  }

  @media (max-width: 768px) {
    padding: 30px 20px 20px;
    &__grid {
      grid-template-columns: 1fr;
      gap: 20px;
    }

    &__form {
      margin-left: 0;
    }

    &__info {
      justify-content: flex-start;
    }
  }
}
