.custom-cursor {
  position: fixed;
  left: 0;
  top: 0;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 2147483647;
  background: #fff;
  mix-blend-mode: difference;
}
