.main-header {
  margin: 20px 40px;
  position: sticky;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    font-size: 30px;
    font-weight: bold;
  }

  &__nav {
    display: flex;
    gap: 40px;
  }

  &__link {
    font-size: 18px;
    text-decoration: none;
    color: black;
    font-weight: lighter;
    &:hover {
      color: #a4a4a4;
      transition: all 0.3s ease-in-out;
    }
  }
}
