@use "../abstracts/mixins" as mixins;

.hero {
  flex-direction: column;
  justify-content: space-between;
  min-height: 800px;
  display: flex;

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin: 0;

    &--bottom {
      margin-top: 60px;
      margin-bottom: 110px;
      @media (max-width: 1199px) and (min-width: 810px) {
        margin-bottom: 150px;
      }
    }
    @media (max-width: 809px) and (min-width: 0px) {
      flex-direction: column;
    }
  }

  &__title {
    font-size: 174px;
    letter-spacing: -0.09em;
    margin: 0;
    word-break: break-word;
    @media (max-width: 1199px) and (min-width: 810px) {
      font-size: 116px;
    }
    @media (max-width: 809px) and (min-width: 0px) {
      font-size: 76px;
    }
  }

  &__photo {
    border-radius: 140px;
    flex: none;
    height: 168px;
    overflow: hidden;
    position: relative;
    width: 168px;

    img {
      position: absolute;
      border-radius: inherit;
      inset: 0px;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__email {
    font-size: 30px;
    font-weight: 400;
    margin: 0;
    font-family: "Inter Medium", Inter, Inter, system-ui, -apple-system,
      BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }

  &__description {
    max-width: 763px;
    font-size: 40px;
    line-height: 1.1em;
    margin: 0;
    @include mixins.text-style-default;
    @media (max-width: 1199px) and (min-width: 810px) {
      font-size: 32px;
      max-width: 550px;
    }
  }
}
