.project-gallery {
  display: grid;
  gap: 24px;

  /* mobile */
  grid-template-columns: repeat(1, minmax(0, 1fr));

  /* tablette */
  @media (min-width: 768px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  /* desktop large */
  @media (min-width: 1200px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  grid-auto-rows: auto;
}
