.page-title {
  font-size: 174px;
  letter-spacing: -0.09em;
  margin-bottom: 60px;
  word-break: break-word;

  &.left {
    text-align: left;
  }

  &.center {
    text-align: center;
  }
  @media (max-width: 1199px) and (min-width: 810px) {
    font-size: 116px;
  }
  @media (max-width: 809px) and (min-width: 0px) {
    font-size: 76px;
  }
}
