.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(var(--framer-viewport-height, 100vh) * 1);
  padding: 80px;
  background-color: black;
  color: white;

  &__top {
    display: flex;
    justify-content: flex-end;
    gap: 30px;

    a {
      text-decoration: none;
      color: white;
    }
  }

  &__middle {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;

    h2 {
      font-size: 50px;
      max-width: 800px;
      font-weight: 500;
      span {
        font-weight: bold;
      }
    }

    &-actions {
      display: flex;
      align-items: center;
      gap: 20px;

      button {
        padding: 1rem 2rem;
        font-weight: bold;
        border: none;
        background-color: white;
        color: black;
        cursor: pointer;
      }

      .dot {
        display: flex;
        align-items: center;
        gap: 10px;

        &::before {
          content: "";
          display: inline-block;
          width: 14px;
          height: 14px;
          background-color: white;
          border-radius: 50%;
        }
      }
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    flex-wrap: wrap;
    gap: 20px;

    &-section {
      display: flex;
      flex-direction: column;
    }
  }

  @media (max-width: 768px) {
    padding: 40px 20px;

    &__middle {
      h2 {
        font-size: 32px;
      }

      &-actions {
        flex-direction: column;
        align-items: flex-start;
      }
    }

    &__bottom {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }
}
