@use "../abstracts/mixins" as mixins;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", "Inter Placeholder", sans-serif;
  letter-spacing: -0.06em;
  background: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}

.main-content {
  padding: 30px 80px 80px;
}

// h1,
// h2,
// h3,
// p,
// a,
// button,
// .divider {
//   @include mixins.fade-in-up(100px, 2s, ease);
// }
